streamlit==1.33.0

crewai==0.11.2
crewai-tools

langchain==0.1.20
langchain-openai==0.0.5

chromadb==0.4.24

aiohttp==3.9.5
requests==2.31.0

pydantic==2.7.1
typing-extensions>=4.9.0

setuptools==69.5.1
wheel
